* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-clr: hsl(0, 0.0%,19.2%);
    --bg-clr-side: hsl(0, 0%, 16%);
    --bg-accent: rgb(68, 68, 68);
    --sec-clr: rgb(245, 238, 238);
    --sec-accent: rgb(230, 229, 229);
    --p1-clr: rgb(126, 103, 255);
    --p1-accent: rgb(60, 65, 80);
    --p2-clr: rgb(255, 73, 73);
    --p2-accent: rgb(99, 64, 64);
}

body {
    background: var(--bg-clr);
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}

.container {
    --sidepanelwidth: 200px;
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-template-columns: var(--sidepanelwidth) 1fr var(--sidepanelwidth);
    grid-template-rows: 100%;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background: var(--bg-clr-side);
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.player-name {
    color: var(--sec-clr);
    font-size: 2rem;
}

.player-name-input {
    background: var(--bg-accent);
    height: 2rem;
    padding: 1rem;
    color: var(--sec-clr);
    box-shadow: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    width: 90%;
}

.symbol-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 0.3rem;
}

div.symbol {
    width: auto;
    height: auto;
}

svg.symbol {
    --dimension: 3rem;
    height: var(--dimension);
    width: var(--dimension);

}

svg.p1.symbol {
    stroke: var(--p1-clr);
    fill: var(--p1-accent);
}

svg.p2.symbol {
    stroke: var(--p2-clr);
    fill: var(--p2-accent);
}

.p1.side {
    box-shadow: 0.1rem 0px 0.5rem var(--bg-accent);
    &.player-turn{
        box-shadow: inset 0px 0px 0.4rem 0.4rem var(--p1-clr),
        0.1rem 0px 0.5rem var(--bg-accent);
    }
}
.p2.side {
    box-shadow: -0.1rem 0px 0.5rem var(--bg-accent);
    &.player-turn{
        box-shadow: inset 0px 0px 0.4rem 0.4rem var(--p2-clr),
        -0.1rem 0px 0.5rem var(--bg-accent);
    }
}

.symbol.selected {
    background: rgb(34, 34, 34);
    .p1 {
        border: 3px solid var(--p1-clr);
        border-radius: 20%;
    }
    .p2 {
        border: 3px solid var(--p2-clr);
        border-radius: 20%;
    }
}

div.symbol {
    padding: 0.1rem;
}

.main {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 1fr;
    padding: 1rem 3rem;
}

.game-board {
    width: 100%;
    max-width: 60vmin;
    aspect-ratio: 1;
    gap: 0;
    display: grid;
    justify-self: center;
    align-self: center;
    .cell {
        width: 100%;
        aspect-ratio: 1;
        border: 3px solid var(--bg-clr-side);
        background: var(--bg-accent);
        padding: 15%;
        display: grid;
        justify-items: center;
        align-items: center;
        border-radius: 8%;
    }
}

.victory-text{
    color: var(--sec-clr);
    padding-top: 1rem;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .container{
        --sidepanelwidth: 120px;
        grid-template-columns: 1fr;
        grid-template-rows: var(--sidepanelwidth) 1fr var(--sidepanelwidth);
    }
    .side{
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 2fr;
        gap: 0.3rem;
    }
    .side.p2{
        grid-template-rows: 1fr auto;
    }
    .player-name{
        grid-area: 1 / 1 / 2 / 2;
        font-size: 1rem;
    }    
    .player-name-input{
        grid-area: 1 / 2 / 2 / 3;
        transform: scale(70%);
    }
    .symbol-container{
        grid-area: 2 / 1 / 3 / 3;
        padding: 0;
        transform: scale(60%);
    }
    .new-game{
        transform: scale(50%);
    }
    div.symbol{
        padding: 0;
    }
    .player-name.p2{
        grid-area: 2 / 1 / 3 / 2;
    }    
    .player-name-input.p2{
        grid-area: 2 / 2 / 3 / 3;
    }
    .symbol-container.p2{
        grid-area: 1 / 1 / 2 / 3;
    }
}

/* @media (aspect-ratio > 1/1) {
    .game-board {
        width: auto;
        max-height: 80svh;
    }
} */

.main-header{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .new-game {
        padding: 1rem;
        background: var(--bg-accent);
        color: var(--sec-clr);
        font-size: 2rem;
        width: fit-content;
        border-radius: 1rem 1rem 1rem 1rem;
    }
}

.cell > div {
    width: 100%;
    height: 100%;
    background: none !important;
}

.cell > div > svg {
    width: 100%;
    height: 100%;
    border: none !important;
}